body {
    background-color: rgb(221, 192, 214);
    color: rgb(185, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    float: center;
}


#rollDice,
#holdScore,
#newGame {
    border: solid;
    border-color: rgb(112, 48, 97);
    background-color: rgb(185, 83, 83);
    font-size: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 20dvh;
}


label {
    font-size: 18px;
}

h5 {
    color: rgb(185, 83, 83);
}

.currentPlayer {
    color: rgb(196, 42, 153);
}

.restingPlayer {
    color: rgb(198, 173, 194);
}


.card {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-content: space-around;
}


.col-1 {
    padding: 10px;
}

.col-5 {
    padding: 20px;
}

.col-6 {
    padding: 20px;

}


#pig {
    padding: 30px;
    height: 300px;
}

.mx-auto.d-block {
    margin-top: 10px;
    padding: 50px;
}